
  
  :root {
    --primary: #2E7D32;
    --secondary: #FFF3E0;
    --accent: #FFB300;
    --accent1: #174219;
    --text: #333;
    --bg: #fff;
    --font: 'Segoe UI', Tahoma, sans-serif;
  }

body{
  background: #2E7D32;
}
main{
  
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: center;

  flex-direction: column;
  font-family: Cal Sans;
}


main > h1#text{
  font-size: 45px;
  color: #0f380c;
  margin-bottom: 30px;
}
main > p#paragrafo{
  color:#000000;
  margin-bottom: 50px;
}

main > a#btn{
  padding: 15px 55px;
  background: #245527;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.5s;
  color: #9efd97;
  border-radius: 16px;
}

main > #btn:hover{
  transform: scale(1.1);
  filter: drop-shadow(0 0 5px, black);
}



footer {
    background: var(--secondary);
    text-align: center;
    padding: 10px;
    margin-top: 2rem;
    border-top: 3px solid var(--accent);
  }
  
  footer p, footer a {
    color: var(--text);
    font-size: 0.9rem;
    text-decoration: none;
  }
  
  footer a:hover {
    color: var(--primary);
  }
  
  footer .social {
    text-align: center;
    margin-top: 0.5rem;
  }
  
  footer .social a {
    color: var(--text);
    text-decoration: none;
    margin: 0 0.5rem;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  footer .social a:hover {
    color: var(--primary);
  }